* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    display: grid;
    height: 670px;
    grid-template-columns: 1.5fr 3fr 1.5fr 2.5fr;
    grid-template-rows: 4fr 3fr 4fr;
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(0, 0, 0);
}

.f1 {
    background-image: url(img/01.jpg);
}

.f2 {
    background-image: url(img/02.jpg);
}

.f3 {
    background-image: url(img/03.jpg);
}

.f4 {
    background-image: url(img/04.jpg);
}

.f5 {
    background-image: url(img/05.jpg);
}

.f6 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 60px;
    padding-left: 90px;
    background-color: rgb(217, 217, 217);
}

.f7 {
    background-image: url(img/07.jpg);
}

.f8 {
    background-image: url(img/08.jpg);
}

.f9 {
    background-image: url(img/09.jpg);
}

.f10 {
    background-image: url(img/10.jpg);
}

.f11 {
    background-image: url(img/11.jpg);
}

.f12 {
    background-image: url(img/12.jpg);
}